Repository PlanBCode/hypha, pull requests merged in 2020-10, with the labels that each got.

#340 Misc fixes
  data/themes/default/hypha.css
  system/datatypes/festival.php
  system/datatypes/index.php
Labels: Status: Ready to merge

#343 Limit publish function to admins and creators of the article.
  system/datatypes/peer_reviewed_article.php
Labels: Level: Easy, Pagetype: Peer reviewed article, Status: Ready to merge, Type: Enhancement, Usecase: De Stadsbron, Value: Users

#345 wymeditor: Adds paste listener to strip superfluous code
  system/core/editor.php
Labels: Component: Wymeditor, Level: Easy, Status: Needs review, Type: Enhancement, Usecase: De Stadsbron, Value: Users

#342 Featured image
  data/themes/default/hypha.css
  index.php
  system/assets/hypha-preview-image-file-field.js
  system/core/HyphaImage.php
  system/core/database.php
  system/core/document.php
  system/core/pages.php
  system/datatypes/peer_reviewed_article.php
  system/languages/en.php
  system/languages/nl.php
Labels: Pagetype: Peer reviewed article, Status: Ready to merge, Type: Enhancement, Usecase: De Stadsbron, Value: Visitors
